/* -------- Navigation Component --------- */
.nav-index, img{
    z-index:10;
}

.navbar-menu {
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
}

.logo-link {
    z-index: 100;
}

.link-nav {
    list-style: none;
    text-decoration: none;
    color : #a47630;
    margin: 9px;
    letter-spacing: 3px;
}

.link-nav:hover{
    color : white;
    background:#a47630;
}

/* ---------- Home page ----------- */

/* Title */


.title {
    font-family: 'Lustria', serif;
    color:white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    animation: fadein 4s ease-in-out;
    font-size: 3.5em;
}

/* Logo */ 
.logo-container{
    display:block;
}

/* Text "Découvrir" */
.clickable-text{
    border : 1px solid white;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color:white;
    bottom: 10%;
    font-size: 1em;
    font-family: 'Catamaran', sans-serif;
    padding: 5px;
    text-transform: uppercase;
}

.clickable-text:hover{
    background-color: #a47630;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border: 0px;
}
 /* Facebook & Instagram icons*/
.socials{
    margin-top: 50px ;
    bottom: 20%;
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
}

.socials img {
    padding: 2px;
}

.socials:hover{
    cursor: pointer;
}

.spin-wrapper {
    position: absolute;
    top: 60%;
    left:42%;
}

/* Dynamic and static text "Photographe Mariage"*/
.dynamic-text {
    font-size: 1.8em;
    color : #a47630;
    font-family: 'Catamaran', sans-serif;
    padding: 5px;
    text-transform: uppercase;
    animation: fadeout 3s infinite;
    transform: translate(-50%, -50%);
}

.dynamic-text:after {
    content:"";
    animation: spin 15s infinite;

}

.static-text {
    font-family: 'Lustria', serif;
    color:white;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}

/* Animation */ 

@keyframes spin{

    10% {
        content: "portrait";
    }
    30% {
        content: "bébé"
    }
    50% {
        content: "mariage"
    }
    70% {
        content: "couple"
    }
    90% {
        content: "famille"
    }
    100% {
        content: ""
    }
}

@keyframes fadeout {
    0%{
        opacity: 00%;
    }

    30%{
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
    
}


@keyframes fadein {
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
    
}


/* background picture */
.home-background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3F3D3B;
    background-blend-mode: multiply;
    position: absolute;
    top:0%;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

/* ------ Media Queries ------- */

@media (max-width: 1200px){
    .link-nav {
        font-family: 'Catamaran', sans-serif;
        text-transform: uppercase;
    }

    .clickable-text{
        visibility: hidden;
    }

    .socials{
        bottom: 5%;
    }

    .dynamic-text {
        visibility: hidden;
    }

    .static-text {
        left:50%
    }
} 

