/* -------- Navigation Component --------- */
.navbar 
{
    z-index:120;
}

.logo-link {
    z-index:100;
    position: relative;
}

#accueil,
#galerie,
#tarifs,
#contact {
    color :#a47630;
}

.link-nav {
    list-style: none;
    text-decoration: none;
    margin: 9px;
    letter-spacing: 3px;
    padding: 5px;
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;    
}

.toggle-nav{
    position: relative;
    left:55%;
}

.link-nav:hover{
    background:#a57b3c;
}

#accueil:hover{
    color :white;
}

#galerie:hover{
    color :white;
}

#tarifs:hover{
    color :white;
}


#contact:hover {
    color :white;
}


/* ---------- Home page ----------- */

/* Title */


.title {
    font-family: 'Lustria', serif;
    color:white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    animation: fadein 4s ease-in-out;
    font-size: 3.5em;
}

/* Logo */ 
.logo-container{
    display:block;
}

/* Text "Découvrir" */
.clickable-text{
    border : 1px solid white;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color:white;
    bottom: 10%;
    font-size: 1em;
    font-family: 'Catamaran', sans-serif;
    padding: 5px;
    text-transform: uppercase;
}

.clickable-text:hover{
    background-color: #a47630;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border: 0px;
}
 /* Facebook & Instagram icons*/
.socials{
    margin-top: 50px ;
    bottom: 20%;
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
}

.socials img {
    padding: 2px;
}

.socials:hover{
    cursor: pointer;
}

.spin-wrapper {
    position: absolute;
    top: 60%;
    left:42%;
}

/* Dynamic and static text "Photographe Mariage"*/
.dynamic-text {
    font-size: 1.8em;
    color : #a57b3c;
    font-family: 'Catamaran', sans-serif;
    padding: 5px;
    text-transform: uppercase;
    animation: fadeout 3s infinite;
    transform: translate(-50%, -50%);
}

.dynamic-text:after {
    content:"";
    animation: spin 15s infinite;

}

.static-text {
    font-family: 'Lustria', serif;
    color:white;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}

/* Animation */ 

@keyframes spin{

    10% {
        content: "portrait";
    }
    30% {
        content: "bébé"
    }
    50% {
        content: "mariage"
    }
    70% {
        content: "couple"
    }
    90% {
        content: "famille"
    }
    100% {
        content: ""
    }
}

@keyframes fadeout {
    0%{
        opacity: 0%;
    }

    30%{
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
    
}


@keyframes fadein {
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
    
}


/* background picture */
.home-background {
    z-index: 0;
    filter: brightness(40%);
}

/* ------ Media Queries ------- */

@media (max-width: 1200px){

    .clickable-text{
        display: none;
    }

    .socials{
        bottom: 5%;
    }

    .dynamic-text {
        display: none;
    }

    .static-text {
        left:50%;
        top: 65%;
        
    }
} 

@media (max-width: 1000px){
    .link-nav  {
        position: relative;
        left: 40%;
        padding: 1px;
        margin: 1px;
        margin-top: 3px;
    }
} 

@media (max-width: 800px){
    .static-text {
        position: fixed;
        left: 50%;
        animation: fadein 6s ease-in-out;
    }

    .link-nav  {
        position: relative;
        left: 45%;
    }

    .toggle-nav {
        margin-top: 20px;
    }
} 


