
/*  ---- Header  ----*/
.photo-header-container{
    display: grid;
    grid-template-columns: repeat(4, 200px);
}

header {
    display: flex;
    justify-content: center;
    max-width: 100vw;
}

.title-container {
    display:flex;
    justify-content: center;
    margin: 20px;
    color:#a57b3c;
}

.colored-text{
    color:#a57b3c;
}

/* --- Section --- */

/* section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 60px;
    padding-right: 60px;
} */


/* article{
    display:flex;
} */


/* --- Buttons ---- */

.btn {
    background-color: #a47630;
    color: white;
}

.btn:hover {
    background: white;
    color: #a57b3c;
}

/* --- Media Queries --- */

@media screen and (max-width:1024px){
    header{
        display:none;
    }
}