/* Title */
h2{
    color: #a57b3c;
    font-size: 3em;
    letter-spacing: 5px;
    font-family: 'Catamaran', sans-serif;
}
.recap-text {
    color: #26364F;
    font-size: 2em;
    font-family: 'Catamaran', sans-serif;
}

.selected-option {
    color: #26364F;
    font-size: 1.5em;
    font-family: 'Catamaran', sans-serif;
    font-weight: 200;
}

/* Form */
form {
    font-family: 'Catamaran', sans-serif;
}

/* Buttons */
.btn {
    background-color: #a57b3c;
    color: white;
}

.btn:hover {
    background: white;
    color: #a57b3c;
}


/* Media Queries */ 
@media screen and (max-width: 800px){
    .picture {
        display:none;
    }
};


    


