/* ----- Text ------*/

.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*title*/
h2 {
    color: #a57b3c;
    font-size: 3em;
    letter-spacing: 5px;
    font-family: 'Catamaran', sans-serif;
}

/*text "Découvrez..."*/
p {
    font-size: 1.5em;
    margin: 10px;
    color:#26364F;
}

/* ---- Buttons ---- */
.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-wrapper button {
    margin: 20px;
    border-radius: 20px;
    padding: 9px;
    letter-spacing: 4px;
    font-family: 'Catamaran', sans-serif;
    border : 1px #976212 solid;
}

.button-wrapper button:hover {
    background:#a57b3c;
    color: white;
    transition: 0.3s ease-in-out;
    border: 0px;
}


/* ---- media queries ---- */
@media screen and (max-width:1200px)
{
    .button-wrapper {
        display: block;
        text-align: center;
        margin: auto;
    }
}
