
/*  ---- Header  ----*/
.photo-header-container{
    display: grid;
    grid-template-columns: repeat(4, 200px);
}

header {
    display: flex;
    justify-content: center;
    max-width: 100vw;
}

h2 {
    display:flex;
    justify-content: center;
    margin: 20px;
    color:#a57b3c;
    letter-spacing: 4px;
    font-family: 'Catamaran', sans-serif;
    flex-direction: row;
    align-items: center;
}

.colored-text{
    color:#a57b3c;
}

/* --- Buttons ---- */

.btn {
    background: white;
    color: #a57b3c;
    border: 2px solid #a57b3c
}

.btn:hover {
    color: white;
    background-color: #a47630;
    transition: 0.5s;
}

